In [9]:
import pandas as pd

1. Imported pandas library 
by using pd.read_csv we can read the file

In [13]:
carsale_data = pd.read_csv("datafiles/archive/car_price_dataset.csv")

***Check top records by default head returns 5 reocrds

In [14]:
carsale_data.head()

,Brand,Model,Year,Engine_Size,Fuel_Type,Transmission,Mileage,Doors,Owner_Count,Price
0,Kia,Rio,2020,4.2,Diesel,Manual,289944,3,5,8501
1,Chevrolet,Malibu,2012,2.0,Hybrid,Automatic,5356,2,3,12092
2,Mercedes,GLA,2020,4.2,Diesel,Automatic,231440,4,2,11171
3,Audi,Q5,2023,2.0,Electric,Manual,160971,2,1,11780
4,Volkswagen,Golf,2003,2.6,Hybrid,Semi-Automatic,286618,3,3,2867

Now understand Pandas dataframe -

In [15]:
carsale_data.info

<bound method DataFrame.info of            Brand     Model  Year  Engine_Size Fuel_Type    Transmission  \
0            Kia       Rio  2020          4.2    Diesel          Manual
1      Chevrolet    Malibu  2012          2.0    Hybrid       Automatic
2       Mercedes       GLA  2020          4.2    Diesel       Automatic
3           Audi        Q5  2023          2.0  Electric          Manual
4     Volkswagen      Golf  2003          2.6    Hybrid  Semi-Automatic
...          ...       ...   ...          ...       ...             ...
9995         Kia    Optima  2004          3.7    Diesel  Semi-Automatic
9996   Chevrolet    Impala  2002          1.4  Electric       Automatic
9997         BMW  3 Series  2010          3.0    Petrol       Automatic
9998        Ford  Explorer  2002          1.4    Hybrid       Automatic
9999  Volkswagen    Tiguan  2001          2.1    Diesel          Manual

      Mileage  Doors  Owner_Count  Price
0      289944      3            5   8501
1        5356      2            3  12092
2      231440      4            2  11171
3      160971      2            1  11780
4      286618      3            3   2867
...       ...    ...          ...    ...
9995     5794      2            4   8884
9996   168000      2            1   6240
9997    86664      5            1   9866
9998   225772      4            1   4084
9999   157882      3            3   3342

[10000 rows x 10 columns]>